/* BASE STYLES */
body {
    margin: 60px auto;
    width: 70%;
    background-color: #8A8A8A;
    color: #B26060;
}

h1 {
    font-size: 5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-weight:normal;
    color: #38647F;
}

h2 {
    font-size: 2.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #38647F;
}

h3 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}


h4 {
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #38647F;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #525252;
}

a {
    text-decoration: none;
    color: #B26060;    
}

a:hover {
    text-decoration: bold;
    color: #E5A1A1;
}

/* NAV BAR & FOOTER */
nav li a {
    text-decoration: none;
    color: #B26060;
}
nav li a:hover {
    text-decoration: bold;
    color: #E5A1A1;
}

nav ul/*, footer ul*/ {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

footer {
    border-top: 1px solid #666666;
    /*font-size: .8em;*/
}
.icon {
  display: inline-block;
  width: 17px;
  height: 17px;
  padding-right: 2px;
  margin-top: 2px;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

/* HELLO */
div.Hello {
    clear:both;
    margin-top: 54px;
    margin-bottom: 54px;
}

#H{
    font-size: 5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #38647F;
    display: inline
}
#H:hover{
    color: #48647F;
}

#e{
    font-size: 5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #38647F;
    display: inline
}
#e:hover{
    color: #58647F;
}

#l1{
    font-size: 5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #38647F;
    display: inline
}
#l1:hover{
    color: #68647F;
}

#l2{
    font-size: 5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #38647F;
    display: inline
}
#l2:hover{
    color: #78647F;
}

#o{
    font-size: 5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #38647F;
    display: inline
}
#o:hover{
    color: #88647F;
}
#exc{
    font-size: 5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #38647F;
    display: inline
}
#exc:hover{
    color: #98647F;
}
/* BLOG: POST LIST */
ul.posts li {
    text-decoration: none;
    font-size: 1.5em;
    color: #666666;
    list-style: none;
}
ul.posts li a {
    text-decoration: none;
    font-size: 1em;
    color: #9C584C;
}

/* BLOG: POST */
p.post-meta {
    font-size: 1.5em;
    line-height: 1.4em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #666666;
}


