---
---

table {
	border-collapse: collapse;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    width: 100%;
}

th {
    border: 1px solid black;
    height: 50px;
    text-align: left;
}

td {
    border: 1px solid black;
    height: 20px;
}