---
---

table {
	border-collapse: collapse;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    width: 100%;
}

th {
    border: 1px solid black;
    height: 20px;
    text-align: left;
    padding: 15px;
}

td {
    border: 1px solid black;
    padding: 15px;
}
tr:nth-child(even) {
	background-color: #f2f2f2;
}