<footer>
	<a href="mailto:anascsilva+pages@gmail.com" target="_blank"><img class="icon" src="/img/icons/icon-email.svg" alt=""></a>
    <a href="http://twitter.com/anasilviacs" target="_blank"><img class="icon" src="/img/icons/icon-twitter.svg" alt=""></a>
    <a href="https://github.com/a-silvia" target="_blank"><img class="icon" src="/img/icons/icon-github.svg" alt=""></a>
    <a href="http://linkedin.com/anasilviacsilva" target="_blank"><img class="icon" src="/img/icons/icon-linkedin.svg" alt=""></a>
</footer>