<div class="container header-container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8 header-left">
      <h1>{{ site.name | escape }}</h1>
      <h2>{{ site.title | escape }}</h2>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 header-right">
      <ul class="icons no-print">
        {%- if site.github_username -%}
          <li>
            <a target="_blank" href="https://github.com/{{ site.github_username| cgi_escape | escape }}" class="button button--sacnite button--round-l">
              <i class="fab fa-github-alt" title="Github link"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if site.linkedin_username -%}
          <li>
            <a target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}" class="button button--sacnite button--round-l">
              <i class="fab fa-linkedin-in" title="Linkedin link"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if site.orcid_username -%}
          <li>
            <a target="_blank" href="https://orcid.org/{{ site.orcid_username | escape }}" class="button button--sacnite button--round-l">
              <i class="fab fa-orcid" title="ORCiD link"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if site.googlescholar_username -%}
          <li>
            <a target="_blank" href="https://scholar.google.com/citations?user={{ site.googlescholar_username| escape }}" class="button button--sacnite button--round-l">
              <i class="fa fa-graduation-cap" title="Google scholar link"></i>
            </a>
          </li>
        {%- endif -%}
    </div>
  </div>
</div>
